<form action="<%= api_stories_path %>" method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="item">
    <div class="title">Title</div>
    <input type="text" name="story[title]" id="title">
  </div>

  <div class="item">
    <div class="fandom">Fandom</div>
    <input type="text" name="story[fandom]" id="fandom">
  </div>

  <div class="item">
    <div class="genre">Fandom Genre (if new fandom)</div>
    <input type="text" name="story[genre]" id="genre">
  </div>


  <div class="item">
    <div class="rating">Rating</div>
    <select id="rating" name="story[ratings]">
      <option value="unrated">Unrated</option>
      <option value="general">General Audiences</option>
      <option value="teen">Teen And Up Audiences</option>
      <option value="mature">Mature</option>
      <option value="explicit">Explicit</option>
    </select>
  </div>

  <div class="item">
    <div class="warning">Warnings</div>
    <div class="warning-item">
      <input type="checkbox" value="Creator Chose Not To Use Archive Warnings"
      name="story[warnings]" id="chose_not_to">
      <div class="chose_not_to">Creator Chose Not To Use Archive Warnings</div>
    </div>
    <div class="warning-item">
      <input type="checkbox" value="No Archive Warnings Apply" name="story[warnings]"
      id="none_apply">
      <div class="none_apply">No Archive Warnings Apply</div>
    </div>
    <div class="warning-item">
      <input type="checkbox" value="Graphic Depictions of Violence"
      name="story[warnings]" id="violence">
      <div class="violence">Graphic Depictions of Violence</div>
    </div>
    <div class="warning-item">
      <input type="checkbox" value="Major Character Death" name="story[warnings]"
      id="death">
      <div class="death">Major Character Death</div>
    </div>
    <div class="warning-item">
      <input type="checkbox" value="Rape" name="story[warnings]" id="rape">
      <div class="rape">Rape</div>
    </div>
    <div class="warning-item">
      <input type="checkbox" value="Underage" name="story[warnings]" id="warning">
      <div class="underage">Underage</div>
    </div>
  </div>

  <div class="item">
    <div class="category">Categories</div>
    <select id="category" name="story[categories]">
      <option>Gen</option>
      <option>Female/Female</option>
      <option>Male/Male</option>
      <option>Female/Male</option>
      <option>Other</option>
      <option>Multi</option>
    </select>
  </div>

  <div class="item">
    <div class="characters">Characters</div>
    <input type="text" id="characters" name="story[characters]" class="freeform-tags">
  </div>

  <div class="item">
    <div class="relationships">Relationships</div>
    <input type="text" id="relationships" name="story[relationships]" class="freeform-tags">
  </div>

  <div class="item">
    <div class="additional">Additional Tags</div>
    <input type="text" id="additional" name="story[additional]" class="freeform-tags">
  </div>

  <div class="item">
    <div class="summary">Summary</div>
    <textarea id="summary" name="story[summary]" rows="10" cols="50"></textarea>
  </div>

  <div class="item">
    <div class="notes">Notes</div>
    <textarea id="notes" name="story[notes]" rows="10" cols="50"></textarea>
  </div>

  <div class="item">
    <div class="story">Story Text</div>
    <textarea id="story" name="story[text][]" rows="1000" cols="50"></textarea>
    <textarea id="story" name="story[text][]" rows="1000" cols="50"></textarea>
  </div>

  <input type="submit" value="Submit" class="submit">
  </form>
