ul.header-list{
  list-style: none;
}

ul.header-genres{
  list-style: none;
}

.header-nav {
  position: relative;
  z-index: 1;
}

.header-genres {
  display: none;
  position: absolute;
  left: -1px;
  font-size: 14px;
  white-space: nowrap;
  background: gray;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

li:hover .header-genres {
  display: block;
}

.header-genres > li {
  border-top: 1px solid #ccc;
  color: #000;
}

.header-genres > li:hover {
  background: #eee;
}

.header-nav {
  background: linear-gradient(#f60000, #600000);
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.header-nav a {
  display: block;
  padding: 10px 20px;
  border-bottom: none !important;
}

.header-list > li {
  float: left;
  color: white; 
}

.header-list > li:hover {
  background: grey;
}
