body, html {
  margin: 0;
  padding: 0;
  color: #2a2a2a;
  font-family: Lucida Grande;
}

#main {
  width: 1000px;
  margin: 0 auto;
  background: #FFFFFF;
}

.fact-box {
  border: 1px solid #E9E9E9;
  margin-bottom: 10px;
  position: relative;
}

.main-link {
  color: #930101;
}

a:not(.main-link) {
  color: #2a2a2a;
  text-decoration: none;
  border-bottom: 1px dotted;
}

a:not(.main-link):hover {
  color: white;
  background: #8E0000;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
