header.username{
  float: right;
}

hr.user {
  width: 100%;
  height: 1px;
  background: #000;
  margin-bottom: 50px;
}

header.user {
  margin: 3px;
}

section.user-box {
  border: 1px solid #CCCCCC;
  background: #DDDDDD;
  margin: 10px;
  padding: 3px 1px;
}

div.smaller-user-box {
  background: #FFFFFF;
  font-size: 14px;
  padding: 10px 5px;
}

.user-index-box {
  border: 1px solid #CCCCCC;
  box-shadow: -1px -1px 1px 1px #DFDFDF;
  margin: 10px 0px;
  padding: 5px;
  padding-bottom: 30px;
}
