<input type="submit" value="sort and filter">
<p>
<select name="sort_criterion">
  <option value="updated_at">Date Updated</option>
  <option value="created_at">Date Posted</option>
  <option value="word_count">Word Count</option>
  <option value="title">Title</option>
</select>
<p>
<input type="submit" value="sort and filter">
