<header>
  <%= collection.length %> Works in <%= collection.topTag %>
  <button class="previous">Previous</button><button class="next">Next</button>
</header>
<div class="story-index"></div>
<section class="search"></div>
