<div class="username">
  <%= user.escape("username") %>
</div>
<section class="fandoms-index">
  Fandoms
  <div class="fandoms">
  </div> 
</section>
<section class="works-index">
  Works
  <div class="works">
  </div>
</section>
