<div class="username">
  <%= user.escape("username") %>
</div>
<section class="fandoms-index">
  Fandoms
  <div class="fandoms">
    <% _(fandoms).each(function(fandom){ %>
      <a href="javascript:void(0)" class="fandom"><%= fandom[0] %></a>
      (<%= fandom[1] %>)
      <p>
    <%  }) %>
  </div>
</section>
<section class="works-index">
  Works
  <div class="works">
  </div>
</section>
