<header class="username">
  <%= user.escape("username") %>
</header>
<section class="user-box">
  <header class="user">Fandoms</header>
  <div class="smaller-user-box">
    <% _(fandoms).each(function(fandom){ %>
      <a href="javascript:void(0)" class="fandom"><%= fandom[0] %></a>
      (<%= fandom[1] %>)
      <p>
    <%  }) %>
  </div>
</section>
<section class="user-box">
  <header class="user">Works</header>
  <div class="works">
  </div>
</section>
<% if (user.get("current_user") && user.get("current_user").id === user.get("id")) { %>
  <button class="delete-user">Delete User</button>
<% } %>
